body {
    background-color: #FEE9A2;
}

.page-item {
    z-index: 1;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

.row {
    text-align: center;
    padding: 10px;
}

#logo {
    margin: 0 auto;
    text-align: center;
}

img.logo {
    margin-top: 0;
    width: 100%;
    max-width: 683px;
}

img.icon {
    width: 150px;
    height: 150px;
}