{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div id="logo">
        <a herf="#"><img class="logo" src="{% static 'jariyo/img/main.png' %}"/></a>
    </div>
    <div class="row">
        <a href="{% url 'jariyo:map' %}">
            <img class="icon" src="{% static 'jariyo/img/food.png' %}" alt="지도">
        </a>
    </div>
    <div class="row">
        {% if user.profile.ismanager %}
        <a href="{% url 'smanager:list' %}">
            <img class="icon" src="{% static 'jariyo/img/seat.png' %}" alt="좌석 갱신">
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}