{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div id="logo">
        <a herf="#"><img class="logo" src="{% static 'jariyo/img/main.png' %}"/></a>
    </div>
    <div class="row">
        <a href="{% url 'jariyo:map' %}"><img class="icon" src="{% static 'jariyo/img/map.png' %}" alt="지도">
    </div>
    <div class="row">
        <a href="{% url 'jariyo:restaurant' %}">
            <img class="icon" src="{% static 'jariyo/img/food.png' %}" alt="음식점">
        </a>
        <a href="{% url 'jariyo:cafe' %}">
            <img class="icon" src="{% static 'jariyo/img/cafe.png' %}" alt="카페">
        </a>
    </div>
</div>
{% endblock %}