{% extends 'smanager/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'smanager/css/update.css' %}">
<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    키워드 : <input type="text" value="{{ shop.name }}" id="keyword" size="15">
                    <button type="submit">검색하기</button>
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
</div>

<div class="container">
    <h5 class="my-3 border-bottom pb-2">가게정보 수정</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        <div class="row">
            <label for="name">가게이름: </label>
            <input type="text" name="name" id="name" value="{{ shop.name }}">
        </div>
        <div class="row">
            {{ form.main_photo }}
        </div>
        <input type="hidden" name="latitude" id="latitude" value="{{ shop.latitude }}">
        <input type="hidden" name="longitude" id="longitude" value="{{ shop.longitude }}">
        <div class="row">
            <label for="shop_type">카테고리: </label>
            <select name="shop_type" required="" id="id_shop_type">
                <option value="" selected="">---------</option>
                <option value="R">음식점</option>
                <option value="C">카페</option>
            </select>
        </div>
        <div class="row">
            <label for="site">웹사이트 주소: </label>
            <input type="text" name="site" id="site" value="{{ shop.site }}">
        </div>
        <div class="row">
            <label for="sit_over4_max">4인이상 최대: </label>
            <input type="text" name="sit_over4_max" id="sit_over4_max" value="{{ shop.sit_over4_max }}">
        </div>
        <div class="row">
            <label for="sit_4_max">4인석 최대: </label>
            <input type="text" name="sit_4_max" id="sit_4_max" value="{{ shop.sit_4_max }}">
        </div>
        <div class="row">
            <label for="sit_2_max">2인석 최대: </label>
            <input type="text" name="sit_2_max" id="sit_2_max" value="{{ shop.sit_2_max }}">
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f2e1c9d8fb54a31e342c11719d5482d0&libraries=services&libraries=services">
</script>
<script type="text/javascript"
    src="{% static 'smanager/js/update.js' %}">
</script>
{% endblock %}